* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App div {
  position: relative;
  width: 352px;
  height: 198px;
  outline: 1px dotted white;
  margin: 0 auto;
  transform: scale(3) translateY(50%);
}

.App > div > canvas {
  image-rendering: pixelated;
}